* {
  margin: 0;
  padding: 0;
}

header,
main,
footer,
nav,
aside,
section,
div {
  display: flex;
}

a {
  text-decoration: none;
}

header {
  height: 128px;
  width: 100%;
}

nav {
  margin: auto;
  margin-right: 120px;
  flex-wrap: wrap;
  justify-content: space-between;
}

main {
  flex-wrap: wrap;
  justify-content: space-between;
}

footer {
  flex-wrap: wrap;
  background: #efecff;
}

nav a.current-page {
  font-weight: 700;
}

nav a {
  margin-left: 32px;
  margin-right: 32px;
  color: #612999;
  font-family: Nunito;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.logo {
  align-items: center;
}

.logo-image {
  height: 64px;
  width: 64px;
  margin-left: 32px;
  background-image: url("../images/logo.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.logo-text {
  margin-left: 10px;
  color: #3e3f43;
  font-family: Nunito;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 6px;
}

.main-image img {
  width: 100%;
  height: auto;
}

.main-image-caption {
  margin: 32px;
  width: 448px;
  display: block;
  position: absolute;
}
.main-image h1 {
  color: #612999;
  font-family: Nunito;
  font-size: 96px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.main-image p {
  color: #000;
  font-family: Nunito;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.main-about {
  display: block;
  width: 100%;
}

.main-about h2 {
  margin: 32px;
  color: #612999;
  font-family: Rubik;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px;
}

.main-about p {
  margin-left: 32px;
  margin-right: 32px;
  margin-bottom: 24px;
  color: #000;
  text-align: justify;
  font-family: Rubik;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 140.625%;
}

.main-cards {
  display: block;
  width: 100%;
}

.main-cards h2 {
  margin-top: 15px;
  margin-left: 32px;
  margin-bottom: 27px;
  color: #612999;
  font-family: Rubik;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px;
}

.main-cards-container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.main-card {
  display: block;
  margin: 32px;
  width: 376px;
  height: 496px;
  flex-shrink: 0;
  border-radius: 38px;
  background: #efecff;
  box-shadow: 0px 6px 40px 0px rgba(57, 132, 187, 0.05);
}

.main-card img {
  width: 100%;
  height: 50%;
  border-radius: 38px;
}

.main-card-content {
  display: block;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
}

.main-card-content h4 {
  margin: 32px;
  color: #000;
  text-align: justify;
  font-family: Abel;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.main-card-content h5 {
  margin-left: 32px;
  margin-right: 32px;
  color: #612999;
  text-align: justify;
  font-family: Abel;
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.main-card-content p {
  margin-left: 32px;
  margin-right: 32px;
  margin-bottom: 24px;
  color: #333;
  font-family: Abel;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.main-card-heart {
  position: absolute;
  margin-left: 290px;
  margin-top: 40px;
  width: 47px;
  height: 47px;
  flex-shrink: 0;
  background-image: url("../images/ellipse_heart.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.main-card-heart img {
  border-radius: 0px;
  align-self: center;
  margin: 0 auto;
  height: auto;
  width: auto;
}

.main-card-cart {
  position: absolute;
  margin-left: 290px;
  margin-top: 132px;
  width: 63px;
  height: 63px;
  flex-shrink: 0;
  background-image: url("../images/ellipse_cart.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.main-card-cart img {
  border-radius: 0px;
  align-self: center;
  margin: 0 auto;
  height: auto;
  width: auto;
}

.pictures-container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.pictures-container img {
  margin-left: 32px;
  margin-bottom: 32px;
  height: 300px;
  width: auto;
  border: 4px solid #e6dbfe;
}

.list-of-games {
  display: block;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
  margin-left: 32px;
  margin-bottom: 32px;
}

.list-of-games h2 {
  margin-bottom: 32px;
  color: #612999;
  font-family: Rubik;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px;
}

.list-of-games li {
  display: flex;
  align-items: center;
  list-style: none;
  margin-top: 16px;
  color: #000;
  font-family: Rubik;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
}

.list-of-games img {
  margin-right: 16px;
}

.rocket-icon {
  position: absolute;
  margin-left: 26px;
}

.footer-links-column {
  display: block;
  margin: 32px;
  margin-right: 118px;
  margin-bottom: 0px;
}

.footer-links-column h2 {
  margin-bottom: 16px;
  color: #333;
  font-family: Nunito;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
}

.footer-links-column li {
  margin: 4px;
  list-style: none;
}

.footer-links-column a {
  color: #333;
  font-family: Nunito;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer-social-media {
  margin-top: 32px;
  width: 100%;
  display: block;
}

.footer-social-media a {
  margin: 12px;
}

.footer-social-media a:first-child {
  margin-left: 32px;
}

.copyright {
  margin-top: 16px;
  margin-left: 32px;
  margin-bottom: 50px;
  color: #333;
  font-family: Nunito;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
